html, body {
   margin: 0;
   height: 100%;
}

#c {
   width:  75%;
   height: 90%;

   left: 20%;
   top: 5%;

   position: absolute;

   /* padding: 2%; */

   -webkit-box-shadow: 0px 0px 8px 5px rgba(184,184,184,1);
   -moz-box-shadow: 0px 0px 8px 5px rgba(184,184,184,1);
   box-shadow: 0px 0px 8px 5px rgba(184,184,184,1);
}

#draw-shapes{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}

#Laminar{
  position: absolute;
  bottom: 0vmin;
  right: 1vmin;

  font: bold 6vmin Helvetica;
  font-style: italic;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

.slider {
  -webkit-appearance: none;
  width: 85%;
  height: 10%;
  /* background: #111111; */
  background-image: linear-gradient(to right, #FFFFFF , #000000);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 20px;
  background: #000000;
  cursor: pointer;
}

/* .slider::-webkit-slider-thumb:hover {
  opacity: 1;
} */

.slider::-moz-range-thumb {
  width: 7px;
  height: 20px;
  background: #AAAAAA;
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* https://www.w3schools.com/howto/howto_js_snackbar.asp */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 200px; /* Set a default minimum width */
  margin-left: -100px; /* Divide value of min-width by 2 */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 1.25vmin;
  box-shadow: 2px 2px 2px .5px rgba(136, 161, 180, 0.6);
  padding: 1.75vmin; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */

  font: 2vmin Helvetica;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 1.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
