#left-pane{
  /* background-color: rgba(172, 172, 180, 0.25); */
  /* box-shadow: 2px 2px 2px .5px rgba(136, 161, 180, 0.6); */

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  bottom:1%;
  left:1%;
  z-index: 10;

  width: 31%;
  height: 98%;
  max-width: 300px;
}

#mode-stack{
  background-color: rgba(172, 172, 180, 0.25);
  box-shadow: 2px 2px 2px .5px rgba(136, 161, 180, 0.6);

  justify-content: flex-end;

  width: 96%;
  height: 19%;
  max-width: 300px;
  bottom: 1%;
}

#input-stack{
  background-color: rgba(172, 172, 180, 0.25);
  box-shadow: 2px 2px 2px .5px rgba(136, 161, 180, 0.6);

  width: 96%;
  height: 24%;
  max-width: 300px;
  bottom: 21%;
}

#button-stack{
  background-color: rgba(172, 172, 180, 0.25);
  box-shadow: 2px 2px 2px .5px rgba(136, 161, 180, 0.6);

  justify-content: flex-start;

  width: 96%;
  height: 54%;
  max-width: 300px;
  bottom: 46%;
}

.stack{
  /* background-color: rgba(172, 172, 180, 0.25);
  box-shadow: 2px 2px 2px .5px rgba(136, 161, 180, 0.6); */
  border-radius: 0.25vmin;

  position: absolute;
  display: flex;
  padding-bottom: 1%;
  padding-top: 1%;

  flex-direction: column;
  align-items: center;

  overflow: hidden;
}

/* https://www.w3schools.com/howto/howto_js_snackbar.asp */
/* The snackbar - position it at the bottom and in the middle of the screen */
.mode-hint {
  min-width: 200px; /* Set a default minimum width */
  color: black; /* White text color */

  box-sizing: border-box;
  padding-left: 5%;

  display: flex;
  justify-content: left;
  align-items: center;

  border-radius: 0.25vmin;
  width: 96%;
  height: 2.75vh;
  font: 1.5vmin Helvetica;
  font-weight: bold;
  margin-top: 1%;
  background-color: rgba(0, 111, 80, .75);
}

.button-hint {
  min-width: 200px; /* Set a default minimum width */
  color: black; /* White text color */

  box-sizing: border-box;
  padding-left: 5%;

  display: flex;
  justify-content: left;
  align-items: center;

  border-radius: 0.25vmin;
  width: 96%;
  height: 2.75vh;
  font: 1.75vmin Helvetica;
  font-weight: bold;
  margin-top: 1%;
}

.enter-left{
  -webkit-animation: enterleft 1s;
  animation: enterleft 1s;
}

.exit-left{
  -webkit-animation: exitleft 1s;
  animation: exitleft 1s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes enterleft {
  from {margin-left: -500px; opacity: 0;}
  to {margin-left: 0px; opacity: 1;}
}

@keyframes enterleft {
  from {margin-left: -500px; opacity: 0;}
  to {margin-left: 0px; opacity: 1;}
}

@-webkit-keyframes exitleft {
  from {margin-left: 0px; opacity: 1; height:2.75vh}
  to {margin-left: -500px; opacity: 0; height:0vh}
}

@keyframes exitleft {
  from {margin-left: 0px; opacity: 1; height:2.75vh}
  to {margin-left: -500px; opacity: 0; height:0vh}
}

/* could custom properties be good for this? */
.snap {
  background: rgba(237, 55, 67, 0.25);
}

.snap:hover {
  background: rgba(237, 55, 67, .75);
}

.export {
  background: rgba(251, 91, 0, 0.25);
}

.export:hover {
  background: rgba(251, 91, 0, .75);
}

.view {
  background: rgba(0, 98, 174, 0.25);
}

.view:hover {
  background: rgba(0, 98, 174, .75);
}

.edit {
  background: rgba(0, 111, 80, 0.25);
}

.edit:hover {
  background: rgba(0, 111, 80, .75);
}
