html, body {
   margin: 0;
   height: 100%;
   overflow: hidden;
   background-color: #f2f4f5!important;
}

#canvasContainer{

  height: 100%;
  width: 96%;

  margin: 2%;
  margin-top: 0px;

  border: 1px solid #c5cdd1;

  /* this is important */
  position: relative;
}

#c {
   width: 100%;
   height: 100%;

   position: absolute;

   bottom: 0px;
   top: 0px;
}

#text {
  width: 100%;
  height: 100%;

  position: absolute;

  bottom: 0px;
  top: 0px;
}

#draw-shapes{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}

.grid{
  display:flex;
  width: 100%;
  height: 100%;
  /* this doesn't seem to be working for drawer / canvas */
  transition: flex 0.3s ease-out;
}

.canvas{
  border-radius: 3px;
  
  /* border: 1px solid #c5cdd1; */
  box-shadow: "0 3px 0 #eef1f2";
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.dragOver{
  border: 5px dashed !important;
}